.App {
  
  width:100vw;
  height:100vh;
  max-height: 2000px;
}
.mapApp{
  height:100vh
}
.pothole_img{
  height:100px;
  width:150px;
  border-radius: 5px;

}
.heading{
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
 text-align: center;
}